.shop-item-card {
    height: 25rem;
    width: 18rem;
    margin: 1rem;
    
  }
  
  .shop-item-image {
    height: 10rem;
    width: auto;
    /* object-fit: cover; */
  }
  
  .shop-item-body {
    
    display: block;
    flex-direction: column;
    
  }
  
  .shop-item-body .btn {
    margin-top: auto;
  }